
h1 {
  color: black;
}

.flex {
  display: flex;
}

.centered {
  justify-content: center;
  text-align: center;
}

.search-form {
  padding-bottom: 36px;
}

.results-view-wrapper {
  padding: 5vh 10vw;
}
.image-list-item {
  display: block !important;
}

header p {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin: 12px
}